<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value); registerForm.reset();">
  <md-input-container>
    <input mdInput placeholder="Email" type="email" name="email" ngModel>
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Password" type="password" name="password" ngModel>
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Re-type password" type="password" name="passwordVerify" ngModel>
  </md-input-container>
  <button md-button type="submit">Register</button>
</form>
